body {
    background: rgb(63, 59, 63);
    margin-top: 50px;
    margin-left: 100px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    color: rgb(236, 210, 210);
}

p {
    font-family: Georgia, Serif;
    font-size: 1.2em;
    color: rgb(220, 226, 184);
}