body {
    background: rgb(61, 59, 59);
    margin-top: 50px;
    margin-left: 100px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: rgb(206, 252, 212);
}

p {
    font-family: Georgia, Serif;
    font-size: 1.2em;
    color: rgb(223, 201, 201);
}